@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}

/* Header area start */
.header-area {
  padding: 20px 0;
  background-color: white;
}

.header-area .site-logo .logo {
  width: 120px;
}
/* Header area end */

/* Login content area start */
.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 45px;
  min-height: 600px;
}

.login-content .login-area {
  background-color: white;
  box-shadow: 0 5px 15px #ccc;
  padding: 40px 30px;
  border-radius: 10px;
}

.login-content .login-area .title-area {
  margin-bottom: 20px;
}

.login-content .login-area .title-area .title {
  font-weight: 600;
  font-size: 1.9em;
  color: #111;
}

.login-content .login-area .title-area .description {
  color: #333;
  font-weight: 500;
  font-size: 0.9em;
}

.login-content .login-area .login-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.login-content .login-area .login-form .field {
  position: relative;
}

.login-content .login-area .login-form .field span {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #0467C3;
  font-weight: 600;
  font-size: 0.9em;
}

.login-content .login-area .login-form .field input {
  width: 100%;
  padding: 18px 12px;
  font-size: 1.1em;
  border: 2px solid #999;
  border-radius: 5px;
}

.login-content .login-area .login-form .field input:focus {
  outline: none;
}

.login-content .login-area .login-form .link a {
  text-decoration: none;
  color: #0467C3;
  font-weight: 600;
}

.login-content .login-area .login-form .button input {
  width: 100%;
  padding: 18px 12px;
  background-color: #0467C3;
  color: white;
  font-size: 1.1em;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.login-content .login-area .or {
  position: relative;
  text-align: center;
  margin: 20px 0;
  color: #666;
}

.login-content .login-area .or::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 120px;
  height: 1px;
  background-color: #666;
}

.login-content .login-area .or::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 120px;
  height: 1px;
  background-color: #666;
}

.login-content .login-area .button-link {
  text-align: center;
  border: 2px solid #999;
  padding: 12px;
  border-radius: 50px;
}

.login-content .login-area .button-link i {
  font-size: 1.3em;
  color: #222;
}

.login-content .login-area .button-link a {
  text-decoration: none;
  color: #666;
  font-weight: 600;
}

.login-content .join-now .link {
  color: #333;
  font-weight: 500;
}

.login-content .join-now .link a {
  text-decoration: none;
  color: #0467C3;
  font-weight: 600;
  margin-left: 7px;
}
/* Login content area end */